h1 {
    font-size: 50px;
    margin-left: 490px;
    margin-top: -10px;
    display: inline-block;
}

h1 button {
    border-radius: 100px;
    font-size: 43px;
    background-color: black;
    color: white;
    transition-duration: 0.5s;
    display: inline-block;
}
h1:hover button {
    color: rgb(157, 255, 30);
}
.pon {
    color: black;
    font-size: 32px;
}
#e {
    color: black;
    font-size: 23px;
    margin-top: 7px;


}
body {
    background-color: white;
}
video {
    width: 400px;
    margin-left: -0.5px;
}
.rot {
    margin-top: 5px;
    margin-left: 174px;
}
.l {
    color: rgb(31, 29, 29);
    background: rgb(31, 29, 29);
    margin-left: -10px;
    width: 1368px;
    height: 35px;
    margin-top: -10px;
    font-size: 0.001px;
}
.no {
    margin-top: 20px;
    display: inline-block;
    transition-duration: 1s;
    transition-delay: 0.1s;
}
.no:hover {
    text-decoration: underline;
}
.m {
    font-size: 10px;
    background: rgb(0, 0, 0);
    width: 410px;
    margin-left: -10px;
    margin-top: -10px;
    color: rgb(0, 0, 0);
}
.yes {
    font-size: 25px;
    position: fixed;
    background: rgb(0, 0, 0);
    height: 239px;
    margin-top: -239px;
    margin-left: 400.4999px;
    color: rgb(0, 0, 0);
}
.cosplay {
    margin-left: -10px;
    position: fixed;
    background: black;
    color: black;
    height: 239px;
    margin-top: -239px;
    width: 9.5px;
    font-size: 1px;
}
.net {
    font-size: 1px;
    color: black;
    margin-left: -10px;
    background: black;
    width: 420px;
    height: 12px;
}
.cho {
    color: black;
    display: inline-block;
    margin-left: 65px;
    height: 10px;
}
h3 {
    margin-top: -10px;
    font-size: 22px;
    font-weight: 900;
}
h3 i {
    font-weight: 1000;
    font-size: 25px;
}

.rotz {
    margin-left: 650px;
    font-size: 22px;
    font-weight: 900;
    margin-top: -67px;
}

.anon {
    margin-left: 665px;
    margin-top: 7.5px;
}
span {
    color: rgb(0, 0, 0);
}
span:hover {
    transition-duration: 0.5s;
    color: rgb(247, 0, 255);
}
#dane {
    margin-top: 0px;
}
.p {
    margin-top: 73px;
    background: black;
    height: 18px;
    margin-left: -7.6px;
    width: 1365.5px;
}
.devka {
    margin-left: 500px;
    margin-top: -50000px;
}
.v {
    margin-top: -35px;
}
.gey {
    background: black;
    margin-left: 500px;
    width: 400px;
    height: 10px;
    font-size: 0.5px;
    margin-top: -3px;
}
.ioio {
    background: black;
    margin-left: 492.4px;
    position: fixed;
    height: 243.5px;
    margin-top: -243.5px;
}
.xxx {
    background: black;
    margin-left: 900px;
    position: fixed;
    margin-top: -243.5px; 
    height: 243.5px;
}
.ooo {
    background: black;
    margin-left: 492px;
    margin-top: -250px;
    font-size: 1px;
    height: 10px;
    width: 415px;
}
.rz {
    background: black;
    margin-top: 260px;
    font-size: 1px;
    margin-left: -10px;
    width: 1368px;
}
.roz {
    text-align: center;
    margin-top: 75px;
}
.lakaka {
    margin-top: -488px;
    margin-left: 450px;
    background: black;
    position: fixed;
    font-size: 1px;
    width: 1px;
    height: 394px;
}
.ot {
    margin-top: -488px;
    margin-left: 940px;
    font-size: 1px;
    background: black;
    position: fixed;
    height: 394px;
    
}
